/* General container styling */
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: -80px;
  }
  
  /* Hero Section Styling */
  .hero {
    margin-top: -100px;
    display: flex;  
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: white;
  }
  
  .heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    height: 100vh; /* Full viewport height */
    text-align: center;
  }
  

  .textCenter {
    text-align: center;
    width: 100%;
  }
  
  .heroTitle {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
    font-family: 'lucida sans';
  }
  
  .heroSubtitle {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-family: 'euphemia';
  }
  
  /* Wave Divider */
  .waveDivider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    overflow: hidden;
  }
  
  .waveContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    bottom: -5px;
  }
  
  .waveSvg {
    margin-top: -50px;
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Light Blue Background for the Below Section */
  .belowWave {
    background: rgb(170, 221, 255); /* Light Blue */
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
  .lightBlueBg {
    background-color: #cceeff;
    padding: 3rem 0; /* Adjust as needed */
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center; /* Centers buttons horizontally */
    gap: 40px; /* Adjust space between buttons */
    margin-top: 20px; /* Adds spacing above buttons */
  }

  .button {
    margin-top: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.8rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 20px;
  }
  
  .Githubbutton {
    margin-top: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.8rem;
    padding-inline: 1.25rem;
    background-color: rgb(0, 0, 0);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 20px;
  }

  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }

  .Githubbutton:hover,
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .Githubbutton:hover .icon,
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .Githubbutton:hover::before,
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .Githubbutton::before,
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  
  

  
